html{
  scroll-behavior: smooth;

}
.wrapper{
  overflow-x: auto;
  white-space: nowrap;
}
.wrapper::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.catg-btn-edit {
  background-color: #60941a;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 20px !important;
}
.catg-btn-edit:hover{
  background-color: white;
  color: #60941a;
  border: 1px solid #60941a;
  font-weight: bold;
}
.catg-btn-edit:focus{
  background-color: white;
  color: #60941a;
  border: 1px solid #60941a;
  font-weight: bold;
}
.navedit{
    min-height: 90px;
    background-color: white ;
    box-shadow: 0 0 5px gainsboro;
}
.btn_Edit{
    background-color: #60941a;
    border:1px solid #60941a;
    box-shadow: 1px 1px black;
    border-radius: 20px !important;
}
.btn_Edit:hover{
    opacity: 0.8;
    background-color: #60941a;
    border:1px solid #60941a;
}
.btn_Edit:focus{
    background-color: #60941a;
    border:1px solid #60941a;
}
.nav_a_edit{
  font-family: 'Poppins', sans-serif;
    color:black;
    font-weight: 400;
}
.nav_a_edit:hover{
    font-weight: bold;
    color:#60941a;
    border-bottom: .1rem solid #60941a;
    transition: 0.5s ease;
}
.nav_a_edit:focus{
    color:#60941a;
    border-bottom: .1rem solid #60941a;
    font-weight: bold;
}
.Main_Headerbox{
    height:300px;
    border:1px solid black;
    background-image: url(Images/Bg1.jpg);
    background-position: center;
    padding: 0% !important;
}

.search{
    margin: auto !important;
    background-color: white;
    position: absolute;
    top:-32px;
    left:0;
    right:0;
    border-radius: 15px;
}
.form{

    position: relative;
}
select{
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}
.form .fa-search{

    position: absolute;
    top:19px;
    right: 4rem;
    color: #9ca3af;

}
.serach-btn-edit{
    position: absolute;
    height: 50px;
    border-radius: 0px;
    background-color: #60941a;
}
.filter-edit {
  color: #9ca3af;
  right: 0px;
  margin-top: -36px;
  position: absolute;
  /* font-size: 25px; */
  margin-right: 25px;
}
.serach-btn-edit:hover{
    opacity: 0.8;
    background-color: #60941a;
}
.serach-btn-edit:focus{
    background-color: #60941a;
    border-color: #60941a;

}
.btn-success{
    border: none;
}

.form-input-edit{

    height:50px;
    text-indent: 9rem;
    border-radius: 2px;
    outline: none;
}
.inner_div{
    height: 500px;
    border:1px solid black;
    margin-top: 10px;
}
.Image_div{
    height: 350px;
    border:1px solid black;
 
}

.fas{
  color: #60941a;
}
.btn-primary{
  background-color: #60941a;
  border: none;
}
.btn-primary:hover{
  background-color: #60941a;
  border: none;
}
.btn-primary:focus{
  background-color: #60941a;
  border: none;
}
#service-box-heading {
    text-align: center;
    padding: 3rem;
}

#service-icon {
    text-align: center;
    padding-bottom: 10px;
}

#service-heading {
    text-align: center;
    padding-top: 10px;
}

.banner {
    
  background-image: url("banner.jpg");
  background-position: bottom;
  /* background-attachment: fixed; */
  
}

.banner-heading {
  padding: 15px;
  margin-top: 8rem;
  background-color: rgba(149, 165, 166, 0.8);
  font-size: 1.8rem;
  margin-bottom: 0;
}

.banner-content {
  padding: 15px;
  background-color: rgba(192, 57, 43, 0.8);
  color: white;
  margin-bottom: 21rem;
  margin-top: 0;
}
#jumbotron{
  /* background-color: #60941a; */
  background-color: #4158D0;
  background-color: #FFFFFF;
  background-image: linear-gradient(135deg, #6b86d7 0%, #587bfc 50%, #FF0000 100%);
    
  color: white;
  padding: 40px 0;
}
.jumbo-icon {
  background-color:rgb(46, 46, 46);
  width: 80px;
  height: 80px;
  font-size: 40px;
  text-align: center;
  border-radius: 100%;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}
.flex-center {
	align-items: center;
}
.accordion-button{
	margin-bottom: 10px;
}
.accordion-body {
	margin-top: 15px;
	padding: 25px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.circle-icon {
	height: 30px;
	width: 30px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: #60941a; */
  /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    border: 2px solid rgba(0, 0, 0, 0.555);
	color: #fff;
	margin-left: -20px;
	margin-right: 10px;
	transform: scale(1.2);
}
.accordion-item{
	border: 0px!important;
}
.accordion-button:not(.collapsed){
	border: 0px!important;
	color: #0c63e4;
    background-color: #ffffff;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
}

.tiral{
  font-size: 22px;
}
.tiral-logo{
  font-size: 40px;
  font-weight: 700;
}
.trial-bottom{
  text-align: center;
 background-color: #d70c33;
 color: white;
 border-radius: 25px;

}
#trial-box{
  text-align: center;
}

footer {
  background-color: #414444;
  color: white;
}

.cropes-section-edit {
  list-style: none;
  padding-inline-start: 0px;
}

#follow-section-edit li {
  display: inline;
  padding-right: 10px;
}

#follow-section-img {
  margin-left: -5px;
  background-color: aliceblue;
}



.modal-dialog-edit{
	max-width: 400px!important;
}

.modal-dialog-edit .modal-header {
  
    border-bottom:none!important;
}
.modal-dialog-edit .modal-footer {
  
    border-top:none!important;
}
.modal-dialog-edit .modal-body h6{
	font-size: 17px;
	text-align: center;
	color: rgba(0, 0, 0, 0.705);
}
.modal-dialog-edit .login-field ul{
	margin: 35px 0;
	padding: 0 30px;
	list-style: none;	
}
#li-1:hover{
	border: 4px solid black;	
}
#li-2:hover{
	border: 4px solid black;	
}
#li-3:hover{
	border: 4px solid black;	
}
#li-4:hover{
	border: 4px solid black;	
}
.login-field ul a{
text-decoration: none;
}

.login-field ul a li{
	display: flex;
	border: 2px solid black;
	border-radius: 7px;
	list-style-type:none ;	
	margin-top: 8px;
}
.login-field ul a li b{
align-self: center;
color: black;
font-size: 15px;	
}
.login-field-icon{
	padding: 10px 30px;
}
.privecy-edit p {
	font-size: 13px!important;
	text-align: center;
}
.privecy-edit p a{
	text-decoration: none;
}

.nav_collap{
  display: block;
}

@media screen and (min-width: 1025px){
  .nav_collap{
    display: none !important;
  }

}




.slider-text{
  position: absolute;
  margin-top: 9rem;
  left: 0px; 
  right: 0px; 
  text-align: center;
}


/* HOMEPAGE SLIDER QUIRIES  */

@media screen and (max-width: 768px){
  .slider-text{
    margin-top: 7rem !important;

  }
  .search-edit{
    margin-top: 0rem !important;
  } 
}

@media screen and (min-width: 1024px){ 

  .slider-text{
    margin-top: 8rem !important;

  }
}
@media screen and (min-width: 1440px){
  .search-edit{
    margin-top: -12rem !important;
  } 
  .slider-text{
    margin-top: 9rem !important;

  }

}
@media screen and (min-width: 2560px){
  .search-edit{
    margin-top: -22rem !important;
  } 
  .slider-text{
    margin-top: 22rem !important;

  }
}
 

@media screen and (max-width: 450px){

  .serach-rsp{
    text-indent: 122px;
  }
  .slider-text {
    margin-top: 1rem !important;
}
.slider-text h6{
  font-size: 12px;
}

  
}







